

/**** Nav Bar *****/

contain-center {
	margin: 0 auto;
}

.navbar {
	background-color: transparent;
	background: rgba(0, 0, 0, 0.7);
	border-color: transparent;
	color: #fff !important;
}

.navbar li {
	color: #000;
	
}

body {
	padding-top: 50px;
}

.nav-txt {
	color: #337ab7;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#user-dp {
	padding: 14px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .7);
}

#user-dp a {
	color: #337ab7;
	text-align: center;
}

#login-dp {
	min-width: 250px;
	padding: 14px 14px 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .7);
}

#login-dp .help-block {
	font-size: 12px;
	color: #fff;
}

#login-dp .bottom {
	background-color: rgba(0, 0, 0, .7);
	border-top: 1px solid #ddd;
	clear: both;
	padding: 14px;
}

#login-dp .social-buttons {
	margin: 12px 0;
}

#login-dp .social-buttons a {
	
}

#login-dp .form-group {
	margin-bottom: 10px;
}

.btn-fb {
	color: #fff;
	background-color: #3b5998;
}

.btn-fb:hover {
	color: #fff;
	background-color: #496ebc
}

.btn-gp {
	color: #fff;
	background-color: #55acee;
}

.btn-gp:hover {
	color: #fff;
	background-color: #59b5fa;
}

@media ( max-width :768px) {
	#login-dp {
		background-color: inherit;
		color: #fff;
	}
	#login-dp .bottom {
		background-color: inherit;
		border-top: 0 none;
	}
}

.form-control {
	margin: 0 auto;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 0, 0, 0.5);
	
}

/***** Home Page Background *****/
.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg__video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media ( max-width : 767px) {
	.fullscreen-bg {
		background: url('img/map-background-static.jpg') center center/cover
			no-repeat;
	}
	.fullscreen-bg__video {
		display: none;
	}
}

/***** Home Page Content *****/
.lead {
	color: #fafafa;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 21px;
}

.btn.btn-default.btn-lg {
	letter-spacing: 2px;
}

.btn-default {
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
	-webkit-filter: none;
	filter: none;
	border: 1px solid #fefefe;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fefefe;
}

.btn-default:hover {
	opacity: .4;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fefefe;
	border: 1px solid #fefefe;
}

/***** Register Page *****/
#user-register {
	max-width: 450px;
	background: rgba(0, 0, 0, 0.7);
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: #337ab7;
}

#registerForm {
	padding: 0 25px;
}

#user-register .social-buttons {
	margin: 12px 0;
}

/***** Register Page Validation *****/
#registerForm input.valid {
    border: 1px solid rgb(0, 204, 0);
    box-shadow: 0 0 10px rgb(102, 255, 102);
}

#registerForm input.error {
    border: 1px solid rgb(255, 0, 0);
    box-shadow: 0 0 10px rgb(255, 102, 102);
}

#registerForm label.error {
	color: red;
}

#registerForm input {
	color: white;
}

#registerForm .form-control {
	width: 250px;
}



